{% extends "base.html" %}

{% block head_content %}
<title>@{{ request.user.username }} | Update profile</title>
{% endblock %}

{% block container %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">
            <form >
                <div class="media">
                    <img src="{% static 'img/default-profile.png' %}" class="rounded-circle" height="50px"/>
                    <div class="media-body">
                        <h5 class="ml-4">@{{ user.username }} | {{user.get_full_name}}</h5>
                        <p class="ml-4">
                            <input type="file" name="picture" required="true">
                        </p>
                    </div>
                    
                    <hr><br>

                    <div class="form-group">
                        <label>Website</label>
                        <input type="url" class="form-control" name="website" placeholder="Website" />
                    </div>
                    <div class="form-group">
                        <label>Biography</label>
                        <textarea class="form-control" name="bio" placeholder="Biography"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" name="phone_number" placeholder="Phone Number" 
                        value="{{profile.phone_number}}"/>

                    </div>
                    <button type="submit" class="btn btn-primary mt-5 float-right">Update Info</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}